html, body {
        background-color: #E7ECEF !important;
            color: #E7ECEF;
            font-family: 'Lucida Sans';
            font-weight: 100;
            height: 100vh;
            margin: 0;
}

th {
    text-align: center !important;
}

.full-height {
    height: 50vh;
}

.flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.butt {
    width: 180px;
    font-family: 'Lucida Sans';
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: #006989 !important;
    color: #e6e6e6;
}